docs/workflows/ml-captura-external.json
{"name":"[ML-CAPTURA] External Partner Webhook","nodes":[{"parameters":{"httpMethod":"POST","path":"ml/external/app-omega-laser","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook External Partner","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[240,400],"notes":"POST /webhook/ml/external/:slug — recebe mensagens de parceiros externos","webhookId":"83d922c1-3a23-40c1-a233-d5e8fd36062a"},{"parameters":{"jsCode":"const item = $input.first();\nconst body = item.json.body || {};\nconst headers = item.json.headers || {};\nconst params = item.json.params || {};\nlet slug = params.slug || null;\nif (!slug) slug = 'app-omega-laser';\n\nlet bearer = null;\nconst auth = headers.authorization || headers.Authorization || '';\nif (auth && auth.toLowerCase().startsWith('bearer ')) {\n  bearer = auth.slice(7).trim();\n}\n\nconst mensagem = body.mensagem || {};\nconst origem = (mensagem.origem || '').toUpperCase();\nconst setor = (body.setor || '').toLowerCase();\n\nlet direction = 'unknown';\nlet respondent_type = 'unknown';\nlet respondent_name = null;\nif (origem === 'CLIENTE') { direction = 'incoming'; respondent_type = 'unknown'; }\nelse if (origem === 'ATENDENTE') { direction = 'outgoing'; respondent_type = 'human'; respondent_name = mensagem.atendente_nome || null; }\nelse if (origem === 'SISTEMA') { direction = 'outgoing'; respondent_type = 'ai'; }\n\nconst tipo = (mensagem.tipo || 'texto').toLowerCase();\nconst conteudo = mensagem.conteudo || null;\nconst is_audio = tipo === 'audio';\n\nconst b64 = (s) => s ? Buffer.from(String(s)).toString('base64') : '__NULL__';\n\nreturn [{\n  json: {\n    slug, bearer, setor, origem, direction, respondent_type, tipo,\n    message_id: mensagem.id || null,\n    remote_jid: mensagem.conversa_id || body.conversa_id || null,\n    atendente_id: mensagem.atendente_id || null,\n    atendente_nome: mensagem.atendente_nome || null,\n    enviada_em: mensagem.enviada_em || null,\n    status_msg: mensagem.status || 'recebida',\n    // base64 encoded for safe transport via queryReplacement\n    conteudo_b64: b64(is_audio ? null : conteudo),\n    audio_url_b64: b64(is_audio ? conteudo : null),\n    respondent_name_b64: b64(respondent_name),\n    metadados_b64: Buffer.from(JSON.stringify(body)).toString('base64'),\n    atendente_nome_b64: b64(mensagem.atendente_nome || null)\n  }\n}];"},"id":"normalize-payload","name":"Normalizar Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,400],"notes":"Extrai slug, bearer, payload e mapeia campos"},{"parameters":{"operation":"executeQuery","query":"SELECT id::text AS projeto_id, slug, webhook_api_key, ativo FROM _plataforma.projetos WHERE slug = $1 LIMIT 1;","options":{"queryReplacement":"={{ $json.slug }}"}},"id":"lookup-projeto","name":"Lookup Projeto por Slug","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[680,400],"credentials":{"postgres":{"id":"FO9GgjXtERNuCglX","name":"ML Postgres"}},"alwaysOutputData":true,"notes":"Busca projeto pelo slug. Vazio = 404."},{"parameters":{"jsCode":"const payload = $('Normalizar Payload').first().json;\nconst rows = $input.all().map(i => i.json);\nconst projeto = rows.length > 0 && rows[0].projeto_id ? rows[0] : null;\n\nif (!projeto) {\n  return [{ json: { ...payload, _error: 'slug_not_found', _status: 404 } }];\n}\nif (!projeto.webhook_api_key || !payload.bearer || projeto.webhook_api_key !== payload.bearer) {\n  return [{ json: { ...payload, _error: 'invalid_bearer', _status: 401 } }];\n}\nif (!payload.setor) {\n  return [{ json: { ...payload, _error: 'setor_required', _status: 400 } }];\n}\nif (!payload.message_id) {\n  return [{ json: { ...payload, _error: 'message_id_required', _status: 400 } }];\n}\nreturn [{ json: { ...payload, projeto_id: projeto.projeto_id, _error: null, _status: 200 } }];"},"id":"validate-auth","name":"Validar Auth","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,400],"notes":"Valida slug, bearer, setor e message_id"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json._error }}","operation":"isEmpty"}]}},"id":"if-auth-ok","name":"IF Auth OK","type":"n8n-nodes-base.if","typeVersion":1,"position":[1120,400]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: false, error: $json._error }) }}","options":{"responseCode":"={{ $json._status }}"}},"id":"respond-auth-error","name":"Respond Auth Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1340,580]},{"parameters":{"operation":"executeQuery","query":"SELECT id::text AS numero_id FROM _plataforma.numeros_projeto WHERE projeto_id = $1::uuid AND setor = $2::_plataforma.setor_tipo AND ativo = true LIMIT 1;","options":{"queryReplacement":"={{ $json.projeto_id }}, {{ $json.setor }}"}},"id":"lookup-numero","name":"Lookup Numero por Setor","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1340,300],"credentials":{"postgres":{"id":"FO9GgjXtERNuCglX","name":"ML Postgres"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const payload = $('Validar Auth').first().json;\nconst rows = $input.all().map(i => i.json);\nconst row = rows.length > 0 && rows[0].numero_id ? rows[0] : null;\nif (!row) {\n  return [{ json: { ...payload, _error: 'setor_not_registered', _status: 400 } }];\n}\nreturn [{ json: { ...payload, numero_id: row.numero_id, _error: null, _status: 200 } }];"},"id":"check-numero","name":"Check Numero Existe","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,300]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json._error }}","operation":"isEmpty"}]}},"id":"if-numero-ok","name":"IF Numero OK","type":"n8n-nodes-base.if","typeVersion":1,"position":[1780,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: false, error: $json._error }) }}","options":{"responseCode":"={{ $json._status }}"}},"id":"respond-numero-error","name":"Respond Numero Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2000,480]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.origem }}","value2":"ATENDENTE"}]}},"id":"if-is-atendente","name":"IF Origem ATENDENTE","type":"n8n-nodes-base.if","typeVersion":1,"position":[2000,200]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO _plataforma.agentes_humanos (numero_id, projeto_id, nome, identificador_externo, ativo) VALUES ($1::uuid, $2::uuid, CASE WHEN $3 = '__NULL__' THEN 'Sem nome' ELSE convert_from(decode($3, 'base64'), 'UTF8') END, $4, true) ON CONFLICT (projeto_id, identificador_externo) DO UPDATE SET nome = EXCLUDED.nome, updated_at = NOW() RETURNING id::text AS agente_humano_id;","options":{"queryReplacement":"={{ $json.numero_id }}, {{ $json.projeto_id }}, {{ $json.atendente_nome_b64 }}, {{ $json.atendente_id }}"}},"id":"upsert-agente","name":"Upsert Agente Humano","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2220,100],"credentials":{"postgres":{"id":"FO9GgjXtERNuCglX","name":"ML Postgres"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const payload = $('Check Numero Existe').first().json;\nconst origem = payload.origem;\nlet agente_humano_id = null;\nif (origem === 'ATENDENTE') {\n  try {\n    const r = $('Upsert Agente Humano').first().json;\n    agente_humano_id = r.agente_humano_id || null;\n  } catch (e) { agente_humano_id = null; }\n}\nreturn [{ json: { ...payload, agente_humano_id } }];"},"id":"merge-agente","name":"Merge Agente","type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,200]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ml_captura.mensagens_raw (projeto_id, area, fonte, session_id, remote_jid, message_id, tipo, conteudo_raw, audio_url, status, metadados, direction, respondent_type, respondent_name) VALUES ($1::uuid, $2, 'external_partner', $3, $3, $4, $5, CASE WHEN $6 = '__NULL__' THEN NULL ELSE convert_from(decode($6, 'base64'), 'UTF8') END, CASE WHEN $7 = '__NULL__' THEN NULL ELSE convert_from(decode($7, 'base64'), 'UTF8') END, $8, convert_from(decode($9, 'base64'), 'UTF8')::jsonb, $10, $11, CASE WHEN $12 = '__NULL__' THEN NULL ELSE convert_from(decode($12, 'base64'), 'UTF8') END) ON CONFLICT (message_id) DO NOTHING RETURNING id::text AS inserted_id;","options":{"queryReplacement":"={{ $json.projeto_id }}, {{ $json.setor }}, {{ $json.remote_jid }}, {{ $json.message_id }}, {{ $json.tipo }}, {{ $json.conteudo_b64 }}, {{ $json.audio_url_b64 }}, {{ $json.status_msg }}, {{ $json.metadados_b64 }}, {{ $json.direction }}, {{ $json.respondent_type }}, {{ $json.respondent_name_b64 }}"}},"id":"insert-mensagem","name":"Insert Mensagem Raw","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2660,200],"credentials":{"postgres":{"id":"FO9GgjXtERNuCglX","name":"ML Postgres"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const ctx = $('Merge Agente').first().json;\nconst rows = $input.all().map(i => i.json);\nconst inserted = rows.length > 0 && rows[0].inserted_id ? rows[0].inserted_id : null;\nreturn [{ json: { ...ctx, inserted_id: inserted, is_duplicate: !inserted } }];"},"id":"check-duplicate","name":"Check Duplicate","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,200]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.is_duplicate }}","value2":true}]}},"id":"if-duplicate","name":"IF Duplicate","type":"n8n-nodes-base.if","typeVersion":1,"position":[3100,200]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, duplicate: true, message_id: $json.message_id }) }}","options":{"responseCode":200}},"id":"respond-duplicate","name":"Respond Duplicate","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3320,100]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ml_captura.sessoes_conversa (projeto_id, area, remote_jid, status, agente_humano_id, total_mensagens) VALUES ($1::uuid, $2, $3, 'ativa', NULLIF($4::text, '00000000-0000-0000-0000-000000000000')::uuid, 1) ON CONFLICT (projeto_id, area, remote_jid) DO UPDATE SET total_mensagens = ml_captura.sessoes_conversa.total_mensagens + 1, agente_humano_id = COALESCE(EXCLUDED.agente_humano_id, ml_captura.sessoes_conversa.agente_humano_id), updated_at = NOW();","options":{"queryReplacement":"={{ $json.projeto_id }}, {{ $json.setor }}, {{ $json.remote_jid }}, {{ $json.agente_humano_id || \"00000000-0000-0000-0000-000000000000\" }}"}},"id":"upsert-sessao","name":"Upsert Sessao Conversa","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3320,300],"credentials":{"postgres":{"id":"FO9GgjXtERNuCglX","name":"ML Postgres"}},"alwaysOutputData":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, message_id: $('Check Duplicate').first().json.message_id }) }}","options":{"responseCode":200}},"id":"respond-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3540,300]}],"connections":{"Webhook External Partner":{"main":[[{"node":"Normalizar Payload","type":"main","index":0}]]},"Normalizar Payload":{"main":[[{"node":"Lookup Projeto por Slug","type":"main","index":0}]]},"Lookup Projeto por Slug":{"main":[[{"node":"Validar Auth","type":"main","index":0}]]},"Validar Auth":{"main":[[{"node":"IF Auth OK","type":"main","index":0}]]},"IF Auth OK":{"main":[[{"node":"Lookup Numero por Setor","type":"main","index":0}],[{"node":"Respond Auth Error","type":"main","index":0}]]},"Lookup Numero por Setor":{"main":[[{"node":"Check Numero Existe","type":"main","index":0}]]},"Check Numero Existe":{"main":[[{"node":"IF Numero OK","type":"main","index":0}]]},"IF Numero OK":{"main":[[{"node":"IF Origem ATENDENTE","type":"main","index":0}],[{"node":"Respond Numero Error","type":"main","index":0}]]},"IF Origem ATENDENTE":{"main":[[{"node":"Upsert Agente Humano","type":"main","index":0}],[{"node":"Merge Agente","type":"main","index":0}]]},"Upsert Agente Humano":{"main":[[{"node":"Merge Agente","type":"main","index":0}]]},"Merge Agente":{"main":[[{"node":"Insert Mensagem Raw","type":"main","index":0}]]},"Insert Mensagem Raw":{"main":[[{"node":"Check Duplicate","type":"main","index":0}]]},"Check Duplicate":{"main":[[{"node":"IF Duplicate","type":"main","index":0}]]},"IF Duplicate":{"main":[[{"node":"Respond Duplicate","type":"main","index":0}],[{"node":"Upsert Sessao Conversa","type":"main","index":0}]]},"Upsert Sessao Conversa":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"","timezone":"America/Sao_Paulo","availableInMCP":false}}