infra/n8n/workflows/ML-ATENDIMENTO-estrategia-retencao.json
{
  "name": "[ML-ATENDIMENTO] Estratégia de Retenção",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "schedule-trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id AS satisfacao_id, a.cliente_id, a.canal, a.tom_emocional, a.causas_insatisfacao, a.risco_churn, a.nps_comportamental, a.momento_critico FROM ml_atendimento.analises_satisfacao a LEFT JOIN ml_atendimento.estrategias_retencao e ON e.satisfacao_id = a.id WHERE a.risco_churn = 'alto' AND e.id IS NULL AND a.created_at >= NOW() - INTERVAL '7 days' ORDER BY a.nps_comportamental ASC LIMIT 20",
        "options": {}
      },
      "id": "buscar-dados",
      "name": "buscar-dados",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "name": "ML Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-rows",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tem-dados",
      "name": "tem-dados",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const cliente = item.json;\n  const causas = Array.isArray(cliente.causas_insatisfacao)\n    ? cliente.causas_insatisfacao.join(', ')\n    : JSON.stringify(cliente.causas_insatisfacao || []);\n  const prompt = `Cliente com alto risco de churn. Gere uma estratégia de retenção personalizada e retorne um JSON com:\\n- estrategia: texto descritivo da estratégia de retenção (máximo 500 caracteres)\\n- oferta_personalizada: descrição da oferta ou benefício a ser apresentado\\n- prioridade_score: número de 1 a 100 (100 = máxima prioridade)\\n- prazo_acao: string no formato ISO 8601 da data limite para ação (máximo 7 dias a partir de hoje)\\n\\nDados do cliente:\\n- Canal: ${cliente.canal}\\n- Tom emocional: ${cliente.tom_emocional}\\n- NPS comportamental: ${cliente.nps_comportamental}\\n- Causas de insatisfação: ${causas}\\n- Momento crítico: ${cliente.momento_critico}\\n\\nRetorne APENAS o JSON, sem explicações.`;\n  results.push({\n    json: {\n      ...cliente,\n      prompt\n    }\n  });\n}\nreturn results;"
      },
      "id": "preparar-prompt",
      "name": "preparar-prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ML_ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ JSON.stringify({model: $env.ML_CLAUDE_CLASSIFIER_MODEL || 'claude-haiku-4-5-20251001', max_tokens: 1024, messages: [{role: 'user', content: $json.prompt}]}) }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "claude-analise",
      "name": "claude-analise",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.content?.[0]?.text || '{}';\nlet parsed;\ntry { parsed = JSON.parse(content); } catch(e) { parsed = {erro: 'parse_failed', raw: content.substring(0,200)}; }\nreturn [{json: {...$input.first().json, resultado: parsed}}];"
      },
      "id": "parsear-resposta",
      "name": "parsear-resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ml_atendimento.estrategias_retencao (cliente_id, estrategia, oferta_personalizada, prioridade_score, prazo_acao, resultado_aplicado, satisfacao_id) VALUES ('{{ $json.cliente_id }}', '{{ $json.resultado.estrategia || '' }}', '{{ $json.resultado.oferta_personalizada || '' }}', {{ $json.resultado.prioridade_score || 50 }}, '{{ $json.resultado.prazo_acao || new Date(Date.now() + 7*24*60*60*1000).toISOString() }}'::timestamptz, 'em_andamento', '{{ $json.satisfacao_id }}')",
        "options": {}
      },
      "id": "salvar-resultado",
      "name": "salvar-resultado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 300],
      "credentials": {
        "postgres": {
          "name": "ML Postgres"
        }
      }
    }
  ],
  "connections": {
    "schedule-trigger": {
      "main": [
        [
          {
            "node": "buscar-dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar-dados": {
      "main": [
        [
          {
            "node": "tem-dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tem-dados": {
      "main": [
        [
          {
            "node": "preparar-prompt",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "preparar-prompt": {
      "main": [
        [
          {
            "node": "claude-analise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "claude-analise": {
      "main": [
        [
          {
            "node": "parsear-resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parsear-resposta": {
      "main": [
        [
          {
            "node": "salvar-resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-10T00:00:00.000Z",
  "versionId": ""
}
