infra/n8n/workflows/ML-CAPTURA-whatsapp-pipeline.json
{
  "name": "[ML-CAPTURA] WhatsApp Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ml/webhook/whatsapp",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook — Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "notes": "[ML-CAPTURA] Recebe eventos da Evolution API. Endpoint: /ml/webhook/whatsapp"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst event = body.event || body.type;\n\nconst messageEvents = ['messages.upsert', 'messages.update'];\nif (!messageEvents.includes(event)) return [];\n\nconst message = body.data?.message || body.message || {};\nconst key = body.data?.key || body.key || {};\n\n// Para messages.update sem conteudo, ignorar\nif (event === 'messages.update' && !message.conversation && !message.extendedTextMessage) return [];\n\nconst tipo = message.audioMessage ? 'audio'\n           : message.imageMessage ? 'image'\n           : message.documentMessage ? 'document'\n           : 'text';\n\nconst conteudo = message.conversation\n               || message.extendedTextMessage?.text\n               || null;\n\nreturn [{\n  json: {\n    event,\n    tipo,\n    from_me: key.fromMe || false,\n    session_id:   body.instance || $env.ML_EVOLUTION_INSTANCE,\n    remote_jid:   key.remoteJid,\n    message_id:   key.id,\n    conteudo_raw: conteudo,\n    audio_url:    message.audioMessage?.url || null,\n    duracao_audio: message.audioMessage?.seconds || null,\n    metadados:    body\n  }\n}];"
      },
      "id": "normalize-payload",
      "name": "Normalizar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "notes": "Valida secret, normaliza payload, detecta tipo de mensagem. Área removida — agora resolvida dinamicamente via Lookup Setor"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(np.setor::text, 'comercial') AS area, np.id AS numero_id FROM _plataforma.numeros_projeto np JOIN _plataforma.instancias_evolution ie ON ie.id = np.instancia_id WHERE ie.instance_name = '{{ $json.session_id }}' AND np.ativo = true LIMIT 1",
        "additionalFields": {}
      },
      "id": "lookup-setor",
      "name": "Lookup Setor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "FO9GgjXtERNuCglX",
          "name": "ML Postgres"
        }
      },
      "notes": "Busca o setor do número em _plataforma.numeros_projeto. Fallback: 'comercial'"
    },
    {
      "parameters": {
        "jsCode": "// Enriquece payload com setor dinâmico do banco\n// Fallback: 'comercial' se número não cadastrado\nconst payload = $('Normalizar Payload').first().json;\nconst lookup = $input.first().json;\nconst area = lookup.area || 'comercial';\n\nreturn [{ json: { ...payload, area } }];"
      },
      "id": "enrich-setor",
      "name": "Enriquecer com Setor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "notes": "Aplica setor dinâmico ao payload. Se número não encontrado, usa 'comercial'"
    },
    {
      "parameters": {
        "url": "={{ $json.audio_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-audio",
      "name": "Download Áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        180
      ],
      "notes": "Baixa o arquivo de áudio do WhatsApp para transcrição"
    },
    {
      "parameters": {
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.ML_GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $binary.data }}",
              "parameterType": "formBinaryData"
            },
            {
              "name": "model",
              "value": "={{ $env.ML_GROQ_WHISPER_MODEL || 'whisper-large-v3' }}"
            },
            {
              "name": "language",
              "value": "={{ $env.ML_GROQ_WHISPER_LANGUAGE || 'pt' }}"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "groq-whisper",
      "name": "Groq Whisper — Transcrição",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        180
      ],
      "notes": "[ML-CAPTURA] Transcreve áudio WhatsApp via Groq Whisper API"
    },
    {
      "parameters": {
        "jsCode": "// Prepara dados do áudio + transcrição para inserir no Postgres\nconst payload = $('Enriquecer com Setor').first().json;\nconst whisper = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: {\n      area:         payload.area,\n      fonte:        'whatsapp',\n      session_id:   payload.session_id,\n      remote_jid:   payload.remote_jid,\n      message_id:   payload.message_id,\n      tipo:         'audio',\n      conteudo_raw: whisper.text,\n      audio_url:    payload.audio_url,\n      duracao_audio: payload.duracao_audio,\n      status:       'processada',\n      metadados:    payload.metadados\n    },\n    transcricao: {\n      texto:     whisper.text,\n      idioma:    whisper.language || 'pt',\n      confianca: whisper.segments?.[0]?.avg_logprob ? Math.exp(whisper.segments[0].avg_logprob) : null,\n      provider:  'groq-whisper'\n    }\n  }\n}];"
      },
      "id": "prepare-audio-data",
      "name": "Preparar Dados Áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepara dados de mensagem de texto para inserir no Postgres\nconst payload = $input.first().json;\n\nreturn [{\n  json: {\n    mensagem: {\n      area:         payload.area,\n      fonte:        'whatsapp',\n      session_id:   payload.session_id,\n      remote_jid:   payload.remote_jid,\n      message_id:   payload.message_id,\n      tipo:         'text',\n      conteudo_raw: payload.conteudo_raw,\n      audio_url:    null,\n      duracao_audio: null,\n      status:       'processada',\n      metadados:    payload.metadados\n    },\n    transcricao: null\n  }\n}];"
      },
      "id": "prepare-text-data",
      "name": "Preparar Dados Texto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        420
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ml_captura.mensagens_raw (\n  area, fonte, session_id, remote_jid, message_id,\n  tipo, conteudo_raw, audio_url, duracao_audio,\n  status, metadados\n) VALUES (\n  '{{ $json.mensagem.area }}',\n  '{{ $json.mensagem.fonte }}',\n  '{{ $json.mensagem.session_id }}',\n  '{{ $json.mensagem.remote_jid }}',\n  '{{ $json.mensagem.message_id }}',\n  '{{ $json.mensagem.tipo }}',\n  '{{ $json.mensagem.conteudo_raw }}',\n  {{ $json.mensagem.audio_url ? \"'\" + $json.mensagem.audio_url + \"'\" : \"NULL\" }},\n  {{ $json.mensagem.duracao_audio !== null ? $json.mensagem.duracao_audio : \"NULL\" }},\n  '{{ $json.mensagem.status }}',\n  '{{ JSON.stringify($json.mensagem.metadados) }}'::jsonb\n)\nON CONFLICT (message_id) DO NOTHING\nRETURNING id;",
        "additionalFields": {}
      },
      "id": "insert-mensagem-raw",
      "name": "Inserir ml_captura.mensagens_raw",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "FO9GgjXtERNuCglX",
          "name": "ML Postgres"
        }
      },
      "notes": "Salva mensagem bruta — ON CONFLICT para idempotência"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ml_captura.transcricoes_audio (mensagem_id, texto, idioma, confianca, provider)\nSELECT\n  '{{ $('Inserir ml_captura.mensagens_raw').first().json.id }}',\n  '{{ $json.transcricao }}',\n  '{{ $json.idioma || 'pt' }}',\n  {{ $json.confianca || 0.9 }},\n  'groq-whisper'\nWHERE '{{ $json.transcricao }}' IS NOT NULL\n  AND '{{ $json.transcricao }}' != 'null';",
        "additionalFields": {}
      },
      "id": "insert-transcricao",
      "name": "Inserir ml_captura.transcricoes_audio",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "FO9GgjXtERNuCglX",
          "name": "ML Postgres"
        }
      },
      "notes": "Salva transcrição do áudio (só executa se houver transcrição)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ml_captura.sessoes_conversa (area, remote_jid, status)\nVALUES (\n  '{{ $json.mensagem.area }}',\n  '{{ $json.mensagem.remote_jid }}',\n  'ativa'\n)\nON CONFLICT (area, remote_jid) DO NOTHING;\n\nUPDATE ml_captura.sessoes_conversa\nSET\n  total_mensagens = total_mensagens + 1,\n  updated_at = NOW()\nWHERE\n  remote_jid = '{{ $json.mensagem.remote_jid }}'\n  AND area = '{{ $json.mensagem.area }}'\n  AND status = 'ativa';"
      },
      "id": "upsert-sessao",
      "name": "Upsert ml_captura.sessoes_conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        420
      ],
      "credentials": {
        "postgres": {
          "id": "FO9GgjXtERNuCglX",
          "name": "ML Postgres"
        }
      },
      "notes": "Cria ou atualiza sessão de conversa"
    },
    {
      "parameters": {
        "jsCode": "// Log de erro estruturado — não quebra o pipeline\nconst error = $input.first().json;\nconsole.error('[ML-CAPTURA] Erro no pipeline:', JSON.stringify({\n  timestamp: new Date().toISOString(),\n  error: error.message || 'Erro desconhecido',\n  node: $runIndex\n}));\nreturn [{ json: { status: 'error_logged', error: error.message } }];"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        560
      ],
      "notes": "Captura erros sem derrubar o workflow"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.filter(item => item.json.tipo === 'audio');"
      },
      "id": "filter-audio",
      "name": "Filtro Áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.filter(item => item.json.tipo === 'text');"
      },
      "id": "filter-text",
      "name": "Filtro Texto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        420
      ]
    }
  ],
  "connections": {
    "Webhook — Evolution API": {
      "main": [
        [
          {
            "node": "Normalizar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Payload": {
      "main": [
        [
          {
            "node": "Lookup Setor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Setor": {
      "main": [
        [
          {
            "node": "Enriquecer com Setor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enriquecer com Setor": {
      "main": [
        [
          {
            "node": "Filtro Áudio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtro Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Áudio": {
      "main": [
        [
          {
            "node": "Groq Whisper — Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Whisper — Transcrição": {
      "main": [
        [
          {
            "node": "Preparar Dados Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados Áudio": {
      "main": [
        [
          {
            "node": "Inserir ml_captura.mensagens_raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados Texto": {
      "main": [
        [
          {
            "node": "Inserir ml_captura.mensagens_raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir ml_captura.mensagens_raw": {
      "main": [
        [
          {
            "node": "Inserir ml_captura.transcricoes_audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert ml_captura.sessoes_conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Áudio": {
      "main": [
        [
          {
            "node": "Download Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Texto": {
      "main": [
        [
          {
            "node": "Preparar Dados Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "America/Sao_Paulo"
  },
  "tags": [
    "ML-CAPTURA",
    "whatsapp",
    "evolution-api",
    "machine-learning"
  ],
  "meta": {
    "project": "machine-learning",
    "squad": "ml-captura-squad",
    "version": "1.1.0",
    "description": "Pipeline principal de captura WhatsApp — Evolution API → normalização → lookup setor dinâmico → Postgres + Groq Whisper"
  }
}