infra/n8n/workflows/ML-MARKETING-analise-campanha.json
{
  "name": "[ML-MARKETING] Análise de Campanha",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "schedule-trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.campanha_id, s.campanha_nome, COUNT(*) AS total_enviados, COUNT(CASE WHEN s.respondeu = true THEN 1 END) AS total_responderam, ROUND(COUNT(CASE WHEN s.respondeu = true THEN 1 END)::numeric / NULLIF(COUNT(*), 0) * 100, 2) AS taxa_resposta, json_agg(json_build_object('remote_jid', s.remote_jid, 'respondeu', s.respondeu, 'mensagens', s.mensagens, 'sentimento', s.sentimento)) AS dados_sessoes FROM ml_captura.sessoes_conversa s WHERE s.area = 'marketing' AND NOT EXISTS ( SELECT 1 FROM ml_marketing.analises_campanha ac WHERE ac.campanha_id = s.campanha_id ) GROUP BY s.campanha_id, s.campanha_nome HAVING COUNT(*) > 10",
        "options": {}
      },
      "id": "buscar-dados",
      "name": "buscar-dados",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "name": "ML Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-rows",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tem-dados",
      "name": "tem-dados",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const campanha = item.json;\n  const sessoes = Array.isArray(campanha.dados_sessoes) ? campanha.dados_sessoes : [];\n  const amostraMensagens = sessoes.slice(0, 10).map(s => ({\n    respondeu: s.respondeu,\n    sentimento: s.sentimento,\n    preview: JSON.stringify(s.mensagens || []).substring(0, 300)\n  }));\n  const prompt = `Analise os dados desta campanha de marketing e retorne um JSON com:\\n- sentimento_positivo_pct: porcentagem de sentimentos positivos (0-100)\\n- sentimento_neutro_pct: porcentagem de sentimentos neutros (0-100)\\n- sentimento_negativo_pct: porcentagem de sentimentos negativos (0-100)\\n- elementos_efetivos: array de strings com elementos que funcionaram bem\\n- elementos_rejeitados: array de strings com elementos que foram mal recebidos\\n- score_campanha: número de 0 a 10\\n- aprendizados: array de strings com aprendizados e recomendações\\n\\nDados da campanha:\\n- Nome: ${campanha.campanha_nome}\\n- Total enviados: ${campanha.total_enviados}\\n- Total responderam: ${campanha.total_responderam}\\n- Taxa de resposta: ${campanha.taxa_resposta}%\\n- Amostra de sessões: ${JSON.stringify(amostraMensagens)}\\n\\nRetorne APENAS o JSON, sem explicações.`;\n  results.push({\n    json: {\n      ...campanha,\n      prompt\n    }\n  });\n}\nreturn results;"
      },
      "id": "preparar-prompt",
      "name": "preparar-prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ML_ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ JSON.stringify({model: $env.ML_CLAUDE_CLASSIFIER_MODEL || 'claude-haiku-4-5-20251001', max_tokens: 1024, messages: [{role: 'user', content: $json.prompt}]}) }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "claude-analise",
      "name": "claude-analise",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.content?.[0]?.text || '{}';\nlet parsed;\ntry { parsed = JSON.parse(content); } catch(e) { parsed = {erro: 'parse_failed', raw: content.substring(0,200)}; }\nreturn [{json: {...$input.first().json, resultado: parsed}}];"
      },
      "id": "parsear-resposta",
      "name": "parsear-resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ml_marketing.analises_campanha (campanha_id, campanha_nome, total_enviados, total_responderam, taxa_resposta, sentimento_positivo_pct, sentimento_neutro_pct, sentimento_negativo_pct, elementos_efetivos, elementos_rejeitados, score_campanha, aprendizados) VALUES ('{{ $json.campanha_id }}', '{{ $json.campanha_nome }}', {{ $json.total_enviados || 0 }}, {{ $json.total_responderam || 0 }}, {{ $json.taxa_resposta || 0 }}, {{ $json.resultado.sentimento_positivo_pct || 0 }}, {{ $json.resultado.sentimento_neutro_pct || 0 }}, {{ $json.resultado.sentimento_negativo_pct || 0 }}, '{{ JSON.stringify($json.resultado.elementos_efetivos || []) }}'::jsonb, '{{ JSON.stringify($json.resultado.elementos_rejeitados || []) }}'::jsonb, {{ $json.resultado.score_campanha || 0 }}, '{{ JSON.stringify($json.resultado.aprendizados || []) }}'::jsonb) ON CONFLICT (campanha_id) DO NOTHING",
        "options": {}
      },
      "id": "salvar-resultado",
      "name": "salvar-resultado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 300],
      "credentials": {
        "postgres": {
          "name": "ML Postgres"
        }
      }
    }
  ],
  "connections": {
    "schedule-trigger": {
      "main": [
        [
          {
            "node": "buscar-dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar-dados": {
      "main": [
        [
          {
            "node": "tem-dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tem-dados": {
      "main": [
        [
          {
            "node": "preparar-prompt",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "preparar-prompt": {
      "main": [
        [
          {
            "node": "claude-analise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "claude-analise": {
      "main": [
        [
          {
            "node": "parsear-resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parsear-resposta": {
      "main": [
        [
          {
            "node": "salvar-resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-10T00:00:00.000Z",
  "versionId": ""
}
